body {
  background-color: #f7f7f7;
  color: #282828;
  font-family: Georgia, "Times New Roman", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei", "Microsoft Yahei", serif;
  /* font-size: 87.5%; */
  padding-top: 100px;
}

a {
  color: #282828;
  text-decoration: none;
}

a:hover,
a:active {
  color: #444;
}

pre,
code {
  background: #F3F3F3;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
  font-size: .92857em;
}

code {
  padding: 2px 4px;
  color: #B94A48;
}

pre {
  padding: 8px;
  overflow: auto;
  max-height: 400px;
}

pre code {
  padding: 3px;
  color: #444;
}

blockquote {
  margin: 1em 0;
  padding-left: 1.5em;
  border-left: 4px solid #eee;
  color: #666;
}

table {
  border: 1px solid #ddd;
  width: 100%;
}

table th,
table td {
  padding: 5px 10px;
  border: 1px solid #eee;
}

table th {
  background: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 36px;
  line-height: 36px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #409eff;
}

textarea {
  resize: vertical;
}

.post-meta a,
.post-content a,
.widget a,
.comment-content a {
  border-bottom: 1px solid #EEE;
}

.post-meta a:hover,
.post-content a:hover,
.widget a:hover,
.comment-content a:hover {
  border-bottom-color: transparent;
}

.browsehappy {
  padding: 8px 0;
  background: #FBE3E4;
  color: #8A1F11;
  text-align: center;
}

.browsehappy a {
  color: #8A1F11;
  text-decoration: underline;
  font-weight: bold;
}
.tagsbox {
  display: flex;
  align-items: center;
}
.tagsbox a {
  background-color: #ffa269;
  display: inline-block;
  /* height: 32px; */
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: top;
  margin: 5px 10px;
  color: #fff;
}

.tags {
  background-color: #ff6c00;
  display: inline-block;
  /* height: 32px; */
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: top;
  margin-right: 10px;
}

.tags a {
  color: #fff;
}

#header {
  /* padding-top: 35px; */
  /* border-bottom: 1px solid #EEE; */
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#logo {
  color: #333;
  font-size: 2.5em;
}

#logo img {
  /* max-height: 64px; */
}

.description {
  margin: .5em 0 0;
  color: #999;
  font-style: italic;
}

#nav-menu {
  /* margin: 25px 0 0; */
  padding: 0;
}

#nav-menu a {
  display: block;
  margin-right: -1px;
  padding: 0 20px;
  /* border: 1px solid #EEE; */
  border-bottom: none;
  height: 32px;
  line-height: 32px;
  color: #444;
  float: left;
}

#nav-menu a:hover,
#nav-menu .current {
  /* background: #F6F6F6; */
}

#search {
  position: relative;
  /* margin-top: 15px; */
}

#search input {
  padding-right: 30px;
}

#search button {
  position: absolute;
  right: 4px;
  top: 2px;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent url(img/icon-search.png) no-repeat center center;
  direction: ltr;
  text-indent: -9999em;
}

@media(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
  #search button {
    background-image: url(img/icon-search@2x.png);
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}

.post {
  padding: 20px;
  /* border-bottom: 1px solid #EEE; */
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post-title {
  margin: .83em 0;
  font-size: 1.2em;
}

.post-head {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: flex-start; */
}
.post-head .post-head-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.post-head .post-head-tit {
  /* font-size: 24px; */
}
.post-head .post-head-tit p {
  font-size: 16px;
  margin: 0 0 4px;
}
.post-head .post-head-tit .time {
  font-size: 14px;
  color: #c4c4c6;
}
.post-meta {
  margin: 0 -20px 0;
  /* margin-top: -0.5em; */
  padding: 20px 20px 0;
  color: #999;
  font-size: .92857em;
  border-top: 1px solid #f7f7f7;
}

.post-meta li {
  display: inline-block;
  margin: 0 8px 0 0;
  padding-left: 12px;
  border-left: 1px solid #EEE;
}

.post-meta li:first-child {
  margin-left: 0;
  padding-left: 0;
  border: none;
}

.post-content {
  line-height: 1.5;
}

.post .tags {
  clear: both;
}

.post-near {
  display: flex;
  flex-direction: column;
}

.archive-title {
  /* margin: 1em 0 -1em; */
  /* padding-top: 20px; */
  color: #999;
  font-size: 1em;
  padding: 10px;
  background-color: #fff;
  font-weight: normal;
}

.more {
  text-align: center;
}

.more a {
  border: none;
}

.protected .text {
  width: 50%;
}

.page-navigator {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}

.page-navigator li {
  display: inline-block;
  margin: 0 4px;
}

.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.page-navigator a:hover {
  background: #EEE;
  text-decoration: none;
}

.page-navigator .current a {
  color: #444;
  background: #EEE;
}

#comments {
  padding-top: 15px;
}

.comment-list,
.comment-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-item {
  display: flex;
}
.comment-item .avator {
  margin-right: 10px;
}
.comment-item .cont {
  flex: 1;
  flex-direction: row;
  justify-content:space-between;
}
.comment-list li {
  padding: 14px;
  margin-top: 10px;
  /* border: 1px solid #EEE; */
}

.comment-list li.comment-level-odd {
  /* background: #F6F6F3; */
  margin: 1rem 0;
  padding: 0 0 0 1rem;
  background-color: #fafbfc;
  border-radius: 3px;
}

.comment-list li.comment-level-even {
  background: #FFF;
}

.comment-list li.comment-by-author {
  background: #FFF9E8;
}

.comment-list li .comment-reply {
  text-align: right;
  font-size: .92857em;
}

.comment-meta a {
  color: #999;
  font-size: .92857em;
}

.comment-author {
  display: block;
  margin-bottom: 3px;
  color: #444;
}

.comment-author .avatar {
  float: left;
  margin-right: 10px;
}

.comment-author cite {
  font-weight: bold;
  font-style: normal;
}

.comment-list .respond {
  margin-top: 15px;
  border-top: 1px solid #EEE;
}

.respond .cancel-comment-reply {
  float: right;
  margin-top: 15px;
  font-size: .92857em;
}

#comment-form label {
  display: block;
  margin-bottom: .5em;
  font-weight: bold;
}

#comment-form .required:after {
  content: " *";
  color: #C00;
}

#secondary {
  /* padding-top: 15px; */
  word-wrap: break-word;
}

.widget {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
h3.widget-title {
  margin-top: 0;
}
.widget-list {
  list-style: none;
  padding: 0;
}

.widget-list li {
  margin: 5px 0;
  line-height: 1.6;
}

.widget-list li ul {
  margin-left: 15px;
}

.pd-20 {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

#footer {
  padding: 3em 0;
  line-height: 1.5;
  text-align: center;
  color: #999;
}

.error-page {
  margin-top: 100px;
  margin-bottom: 100px;
}

.post-content,
.comment-content {
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 15px;
  color: #666c72;
  line-height: 1.6em;
  /* overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;   */
}

.post-content h2,
.comment-content h2 {
  font-size: 1.28571em;
}

.post-content img,
.comment-content img,
.post-content video,
.comment-content video {
  max-width: 100%;
}

.post-content a img,
.comment-content a img {
  background: #FFF;
  position: relative;
  bottom: -4px;
}

.post-content hr,
.comment-content hr {
  margin: 2em auto;
  width: 100px;
  border: 1px solid #E9E9E9;
  border-width: 2px 0 0 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  margin: 0 15px 0 0;
}

img.alignright {
  margin: 0 0 0 15px;
}

@media(max-width:767px) {
  body {
    font-size: 81.25%;
  }

  #nav-menu a {
    float: none;
    display: inline-block;
    margin: 0 -2px;
  }
}

@media(max-width:768px) {

  #header,
  .post-title,
  .post-meta {
    text-align: center;
  }
}

@media(min-width:1200px) {
  .container {
    max-width: 952px;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.sr-only {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

/**
custom
*/
.widget-list li .orderNum {
  display: inline-block;
  border-radius: 4px;
  background-color: #C00;
  color: #fff;
  padding: 4px;
  line-height: 1;
  margin-right: 10px;
}
.tabs {
  font-size: 16px;
  border-bottom: 2px solid #edf0f5;
  margin-bottom: 6px;
  padding: 10px 10px 0;
  background-color: #fff;
}
.tabs a {
  display: inline-block;
  padding: 8px;
  color: #666c72;
  cursor: pointer;
  margin-right: 4px;
}
.tabs a.current {
  position: relative;
  color: #ff6c00;
  font-weight: 700;
}
.tabs a.current::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff6c00;
  bottom: -1px;
  left: 0;
  z-index: 1;
  content: "";
}
.noData {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}