body {
  background: #edf2f6;
  font-size: 14px;
  font-family: "PingFang SC","Hiragino Sans GB","Source Han Sans CN", "Microsoft Yahei",serif;
}

p {
  color: #888da8
}

/* Top Nav */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}
.osahan-nav-top {
  background-color: #ffffff;
}
.osahan-nav-top .container {
  padding: 0 16px;
}

.osahan-nav-top .navbar-search .form-control {
  background: #ebf2ff;
}

.osahan-nav-top .navbar-search .btn {
  background: #ebf2ff !important;
  color: #74828e;
}
/* End Top Nav */
a {
  color: #1e2022;
  text-decoration: none !important;
}
a:hover {
  color: #f77800;
}
div, a {
  outline: none !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

.text-hover {
  color: #3699ff !important;
}

.text-success {
  color: #00c9a7 !important;
}

.text-danger {
  color: #de4437 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-info {
  color: #00dffc !important;
}

.bg-success {
  background-color: #00c9a7 !important;
}

.bg-danger {
  background-color: #de4437 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-info {
  background-color: #00dffc !important;
}

.badge-success {
  color: #fff;
  background-color: #00c9a7;
}

.badge-danger {
  color: #fff;
  background-color: #de4437;
}

.badge-warning {
  color: #1e2022;
  background-color: #ffc107;
}

.badge-info {
  color: #1e2022;
  background-color: #00dffc;
}

.border, .card {
  border: 1px solid #eaebec!important;
}

.border-top {
  border-top: 1px solid #eaebec!important;
}

.border-bottom {
  border-bottom: 1px solid #eaebec!important;
}

.border-left {
  border-left: 1px solid #eaebec!important;
}

.border-right {
  border-right: 1px solid #eaebec!important;
}
/* Card Design */
.box.border {
  border: 1px solid #ffffff !important;
}
.symbol {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-radius: .42rem
}

.symbol>img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .42rem
}

.shadow-sm {
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.08) !important;
}

/* End Card Design */
/* Tab Design */
.osahan-line-tab .nav-link {
  font-size: 16px;
  font-weight: 500;
  padding: 1rem!important;
  color: #888da8;
  position: relative;
}

.form-control, .btn {
  font-size: 14px;
}
.small, small {
  font-size: 12px;
}
.sideNav {
  padding: 0;
  list-style-type: none;
  margin: 0;
  /* border-bottom: 1px solid rgba(0,0,0,0.12); */
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: 10px;
}
.sideNav .symbol-label {
  display: flex;
  height: 36px;
  width: 36px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px;
  /* color: #fff; */
}
.sideNav .symbol-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sideNav .symbol-desc .desc {
  font-size: 12px;
  color: #b5b5b5;
}
.symbol-label.s_instagram {
  background-color: #ffe2e5;
}
.symbol-label.s_instagram i {
  color: #f64e60 !important;
}
.symbol-label.s_music-note-list{
  background-color: #fff4de;
}
.symbol-label.s_music-note-list i {
  color: #ffa800 !important;
}
.symbol-label.s_newspaper {
  background-color: #e1fffa;
}
.symbol-label.s_newspaper i {
  color: #00c9a7;
}
.symbol-label.s_speaker-fill {
  background-color: #ffbe93;
}
.symbol-label.s_speaker-fill i {
  color: #ff9100;
}
.sideNav ul {
  padding: 0
}

.sideNav li {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 0;
  /* background: #f2f2f2; */
  border-bottom: 1px solid #ffe4e5;
}
.sideNav li:last-of-type {
  border-bottom: none;
}

.sideNav li a {
  /* padding: 0 10px; */
  margin: 6px 10px;
  flex: 1;
  display: flex;
  position: relative;
  /* align-items: center; */
  /* line-height: 50px; */

  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
  font-size: 16px;
  color: #3e2903;
  /* transition: all .1s; */
  /* border-radius: 8px; */
}

.sideNav li a:hover,.sideNav li a:focus {
  /* background-color: #ededed;
  background-color: #f1f3f4 */
  color: #1a73e8;
}

.sideNav li.active a {
  color: #1a73e8;
  background-color: #e8f0fe
}

.sideNav li.active a:before {
  content: '';
  position: absolute;
  left: -12px;
  width: 18px;
  height: 107%;
  border-radius: 22%
}

.sideNav li a i {
  /* margin-right: 22px;
  font-size: 17px */
}

.sideNav li a img {
  /* margin-right: 15px; */
  width: 20px;
  height: 20px;
  /* border-radius: 5px */
}
.post-title {
  font-size: 20px;
  line-height: 1.6;
}
.post-state {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #f3f3f3;
  /* border-bottom: 1px solid #f3f3f3 */
}
.post-state .post-state-btns:hover {
  /* background-color: #f1f3f4 */
}
.post-state .post-state-btns {
  /* border-radius: 2px; */
  font-size: 12px;
  color: #8a9aa9;
  /* border-radius: 5px; */
  /* font-weight: 600; */
  line-height: 20px;
  flex: 1;
  width: 100%;
  border: 0;
  margin: 4px 4px;
  box-shadow: none;
  padding: 9px 5px;
  transition: all .1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #f3f3f3;
}
.post-state .post-state-btns:last-of-type {
  border-right: none;
}
.post-state .post-state-btns:hover i {
  /* color: #007bff; */
}
.post-state .post-state-btns a {
  color: #8a9aa9;
}
.post-state .post-state-btns a:hover, .post-state .post-state-btns.active, .post-state .post-state-btns.active a {
  color: #007bff;
}
.post-state .post-state-btns i {
  font-size: 20px;
  margin-right: 4px
}
.post-state .post-state-btns span {
  margin-left: 4px
}
.box-body {
  font-size: 16px;
  line-height: 1.8;
  color: #17181a;
  text-indent: 2em;
}
.nav-item {
  color: #1a73e8;
  padding: 3px 8px;
  /* border-radius: 5px; */
  /* font-weight: 600; */
  font-size: 16px;
  /* border: 1px solid #3699ff; */
}

* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
#body {
  margin-top: 60px;
}
.tags a {
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  margin: 5px;
}
#footer {
  padding: 20px 0;
  text-align: center;
}
.widget-reply-list {
}
.widget-reply-list li {
  display: flex;
  border-bottom: #f3f3f3;
}
.widget-reply-list li:last-of-type {
  border-bottom: none;
}
.widget-reply-list li .avator {
  width: 0;
}
.widget-reply-list li .reply {}
.widget-reply-list li .reply p { margin-bottom: 10px; }
.widget-reply-list li .reply .author {color: #333;}
.widget-reply-list li .reply .desc { color:#6d6d6d; line-height: 1.5; }

.link-btn.link-home { background-color: #f05454; }
.link-btn {
  border: 1px solid #f05454;
  border-radius: 2px;
  transition: opacity .2s;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
  padding: 5px 13px;
  color: #f77800;
}
a.link-home {
  color: #fff;
}