body {
  background: #edf2f6;
  font-size: 14px;
  font-family: "PingFang SC","Hiragino Sans GB","Source Han Sans CN", "Microsoft Yahei",serif;
}

p {
  color: #888da8
}

/* Top Nav */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}
.osahan-nav-top {
  background-color: #ffffff;
}
.osahan-nav-top .container {
  padding: 0 16px;
}

.osahan-nav-top .navbar-search .form-control {
  background: #ebf2ff;
}

.osahan-nav-top .navbar-search .btn {
  background: #ebf2ff !important;
  color: #74828e;
}
/* End Top Nav */
a {
  color: #1e2022;
  text-decoration: none !important;
}

div, a {
  outline: none !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

.text-success {
  color: #00c9a7 !important;
}

.text-danger {
  color: #de4437 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-info {
  color: #00dffc !important;
}

.bg-success {
  background-color: #00c9a7 !important;
}

.bg-danger {
  background-color: #de4437 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-info {
  background-color: #00dffc !important;
}

.badge-success {
  color: #fff;
  background-color: #00c9a7;
}

.badge-danger {
  color: #fff;
  background-color: #de4437;
}

.badge-warning {
  color: #1e2022;
  background-color: #ffc107;
}

.badge-info {
  color: #1e2022;
  background-color: #00dffc;
}

.border, .card {
  border: 1px solid #eaebec!important;
}

.border-top {
  border-top: 1px solid #eaebec!important;
}

.border-bottom {
  border-bottom: 1px solid #eaebec!important;
}

.border-left {
  border-left: 1px solid #eaebec!important;
}

.border-right {
  border-right: 1px solid #eaebec!important;
}
/* Card Design */
.box.border {
  border: 1px solid #ffffff !important;
}

.shadow-sm {
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.08) !important;
}

/* End Card Design */
/* Tab Design */
.osahan-line-tab .nav-link {
  font-size: 14px;
  font-weight: 500;
  padding: 1rem!important;
  color: #888da8;
  position: relative;
}

.form-control, .btn {
  font-size: 14px;
}
.small, small {
  font-size: 12px;
}
.sideNav {
  padding: 0;
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: 10px;
}
.sideNav ul {
  padding: 0
}

.sideNav li {
  display: block;
  width: 100%;
  height: auto;
  position: relative
}

.sideNav li a {
  padding: 0 10px;
  display: flex;
  position: relative;
  align-items: center;
  line-height: 50px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #6d6d6d;
  color: #202124;
  transition: all .1s;
  border-radius: 8px;
  letter-spacing: .01785714em
}

.sideNav li a:hover,.sideNav li a:focus {
  background-color: #ededed;
  background-color: #f1f3f4
}

.sideNav li.active a {
  color: #1a73e8;
  background-color: #e8f0fe
}

.sideNav li.active a:before {
  content: '';
  position: absolute;
  left: -12px;
  width: 18px;
  height: 107%;
  border-radius: 22%
}

.sideNav li a i {
  margin-right: 22px;
  font-size: 17px
}

.sideNav li a img {
  margin-right: 15px;
  width: 26px;
  height: 26px;
  border-radius: 5px
}
.post-title {
  font-size: 28px;
  line-height: 1.5;
}
.post-state {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3
}
.post-state .post-state-btns:hover {
  background-color: #f1f3f4
}
.post-state .post-state-btns {
  border-radius: 2px;
  color: #616770;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 600;
  line-height: 19px;
  flex: 1;
  width: 100%;
  border: 0;
  margin: 4px 4px;
  box-shadow: none;
  padding: 9px 5px;
  transition: all .1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center
}
.post-state .post-state-btns i {
  font-size: 19px;
  margin-right: 4px
}
.post-state .post-state-btns span {
  margin-left: 4px
}
.box-body {
  font-size: 16px;
  line-height: 1.8;
  color: #6d6d6d;
  text-indent: 2em;
}
.nav-item {
  color: #1a73e8;
  padding: 6px 18px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}
.main_sidebar {
  display: block;
  margin-top: 64px;
  width: 268px;
  background-color: white;
  color: inherit;
  z-index: 99;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100% - 65px);
}
* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}