body {
  background: #edf2f6;
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif, "Droid Serif",Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Source Han Sans CN","WenQuanYi Micro Hei","Microsoft Yahei",serif;
}

p {
  color: #888da8
}

/* Top Nav */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}
.osahan-nav-top {
  background-color: #ffffff;
}
.osahan-nav-top .container {
  padding: 0 16px;
}

.osahan-nav-top .navbar-search .form-control {
  background: #ebf2ff;
}

.osahan-nav-top .navbar-search .btn {
  background: #ebf2ff !important;
  color: #74828e;
}
/* End Top Nav */
a {
  text-decoration: none !important;
}

div, a {
  outline: none !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

.text-success {
  color: #00c9a7 !important;
}

.text-danger {
  color: #de4437 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-info {
  color: #00dffc !important;
}

.bg-success {
  background-color: #00c9a7 !important;
}

.bg-danger {
  background-color: #de4437 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-info {
  background-color: #00dffc !important;
}

.badge-success {
  color: #fff;
  background-color: #00c9a7;
}

.badge-danger {
  color: #fff;
  background-color: #de4437;
}

.badge-warning {
  color: #1e2022;
  background-color: #ffc107;
}

.badge-info {
  color: #1e2022;
  background-color: #00dffc;
}

.border, .card {
  border: 1px solid #eaebec!important;
}

.border-top {
  border-top: 1px solid #eaebec!important;
}

.border-bottom {
  border-bottom: 1px solid #eaebec!important;
}

.border-left {
  border-left: 1px solid #eaebec!important;
}

.border-right {
  border-right: 1px solid #eaebec!important;
}
/* Card Design */
.box.border {
  border: 1px solid #ffffff !important;
}

.shadow-sm {
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.08) !important;
}

/* End Card Design */
/* Tab Design */
.osahan-line-tab .nav-link {
  font-size: 14px;
  font-weight: 500;
  padding: 1rem!important;
  color: #888da8;
  position: relative;
}

.form-control, .btn {
  font-size: 14px;
}
.small, small {
  font-size: 12px;
}